.login-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left-section {
    width: 50%;
    background-color: #3b5320; /* Харкiв Tone */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.left-section form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.left-section input {
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}

.left-section button {
    padding: 10px;
    background: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.right-section {
    width: 50%;
    background-color: white;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-section .register-button {
    padding: 10px 20px;
    background: #3b5320;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.ribbon {
    position: absolute;
    left: -50px;
    bottom: 20px;
    width: 70%;
    z-index: -10;
}
